{
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "classic",
                "pragma": "Didact.createElement",
                "pragmaFrag": "Didact.Fragment"
            }
        ]
    ]
}