{
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "classic",
                "pragma": "Villax.createElement",
                "pragmaFrag": "Villax.Fragment"
            }
        ]
    ],
    "plugins": []
}